﻿<div id="AboutGPSSA" class="DivContainerClass" style="margin-top:-15px; overflow:hidden">
    <table style="width:100%; background-color:white; overflow:hidden" cellspacing="0" cellpadding="0">
        <tr>
            <td class="ActiveTabClass AboutGPSSATabs" id="AboutGPSSA_OverViewTab" onclick="AboutGPSSA.HandleAboutGPSSATabClicked('AboutGPSSA_OverViewTab')">
                مقدمة
            </td>
            <td class="TabClass AboutGPSSATabs" id="AboutGPSSA_PresidentStatementTab" onclick="AboutGPSSA.HandleAboutGPSSATabClicked('AboutGPSSA_PresidentStatementTab')">
                كلمة الرئيس
            </td>
            <td class="TabClass AboutGPSSATabs" id="AboutGPSSA_VisionTab" onclick="AboutGPSSA.HandleAboutGPSSATabClicked('AboutGPSSA_VisionTab')">
                الخطة الإستراتيجية
            </td>
        </tr>
    </table>
    <center>
        <div style="width: 97%; text-align: right; overflow: scroll" class="AboutGPSSAContent" id="AboutGPSSA_OverViewTab_Content">
        </div>
        <div style="width:97%; text-align:right; overflow:scroll; display:none" class="AboutGPSSAContent" id="AboutGPSSA_PresidentStatementTab_Content">
        </div>
        <div style="width: 97%; text-align: right; overflow: scroll; display: none" class="AboutGPSSAContent" id="AboutGPSSA_VisionTab_Content">
        </div>
    </center>
    <div id="PresidentStatementImg" style="display:none;">
       
        <center>
            <br />
            <div style="/* width:95%; */">
                <img src="../www/Images/Sheikh_Hamdan.jpg" style="width: 240px;">
            </div>
        </center>

    </div>
</div>