﻿<div id="AddResponsiblePersonResult" class="DivContainerClass">
    <center>
        <div class="LblDivContentClass">
            <div class="RegErrorClass" id="AddResponsiblePersonResultTxt">
                The Responsible Person has been added successfully
                <br />
                the Username and Password has been sent to the designated Responsible Person
                <br />
                case number #Case#
            </div>
        </div>
    </center>
    <br />
    <center>
        <div class="BtnClass" id="ConfirmAddResponsiblePerson_BackBtn">
            Back
        </div>
    </center>
    <br />
</div>