﻿<div id="AddResponsiblePersonResult" class="DivContainerClass">
    <center>
        <div class="LblDivContentClass">
            <div class="RegErrorClass" id="AddResponsiblePersonResultTxt">
               تم إضافة الشخص المسئول بنجاح
                <br />
                تم إرسال اسم المستخدم و كلمة المرور إلى الشخص المسئول
                <br />
                رقم الحالة #Case#
            </div>
        </div>
    </center>
    <br />
    <center>
        <div class="BtnClass" id="ConfirmAddResponsiblePerson_BackBtn">
            عودة
        </div>
    </center>
    <br />
</div>