﻿<div id="AutoRegisterationStep4" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                اسم المستخدم
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="AutoRegisterationStep4_Username" style="border:0px; width:95%" onblur="AutoRegisteration.HandleValidateUsername()" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                كلمة المرور
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="AutoRegisterationStep4_Password" style="border:0px; width:100%; height:100%" data-display="AutoRegisterationStep4_PasswordStrength" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                تأكيد كلمة المرور
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="AutoRegisterationStep4_ConfirmPassword" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                متانة كلمة المرور
            </td>
            <td style="width:60%;" class="InputClass">
                <div id="AutoRegisterationStep4_PasswordStrength"></div>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="AutoRegisterationStep4_NextBtn">
            نهاية
        </div>
        <br />
        <div class="BtnClass" id="AutoRegisterationStep4_BackBtn">
            عودة
        </div>
    </center>
    <br />
</div>