﻿<div id="ContactUS" class="DivContainerClass">
    <div style="text-align:center">
        <a href="tel:80010"><img src="Images/callUs.png" style="width:50%" /></a>
    </div>
    <br />
    <div id="ContactUsContent">
    </div>
    <div id="ContactUsTemplate" style="display:none">
        <div class="LblDivContentClass">
            <div class="ContactUsMainTitle">
                ${Title}
            </div>
            <table style="width:95%" cellspacing="0" cellpadding="0">
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        البريد الالكترونى:
                    </td>
                    <td class="PensionCalcResultTR2">
                        {{html EMail}}    
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        العنوان:
                    </td>
                    <td class="PensionCalcResultTR2">
                        <a href="#" onclick="ContactUs.OpenMapForAddress('${Latitude}', '${Longitude}', '${Id}');">
                            ${Address}
                        </a>
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        التليفون:
                    </td>
                    <td class="PensionCalcResultTR2">
                        <a href="tel:${Phone}">${Phone}</a>
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        فاكس:
                    </td>
                    <td class="PensionCalcResultTR2">
                        {{html Fax}}  
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        صندوق بريد:
                    </td>
                    <td class="PensionCalcResultTR2">
                        ${POBox}
                    </td>
                </tr>
            </table>
        </div>
        <br />
    </div>
</div>
