﻿<div id="Login2" class="DivContainerClass">
    <img src="Images/LoginLogo.png" />
    <br />
    <br />
    <div class="LblDivContentClass">
        <table style="width:95%" cellspacing="0" cellpadding="0">
            <tr>
                <td>Welcome:</td>
                <td id="Login2_Username"></td>
            </tr>
        </table>
    </div>
    <br />
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Pin Code
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="Login_PinCode" style="border:0px; width:95%" maxlength="4" placeholder="Pin Code" pattern="[0-9]*" onkeyup="isNumeric(this);" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="color: red; font-size: smaller; text-align:center; display:none" id="LoginFirstTimeTxt">
                you should enter the 4 digits pin code that will be used for login each time you open the application
            </td>
        </tr>
        <tr style="height:30px;">
            <td colspan="2"></td>
        </tr>
    </table>
    <center>
        <div style="width:90%">
            <a href="#" id="Login2_LoginWithAnotherUsername">Login with another Username</a>
            <br />
            <br />
            <a href="#" id="Login2_ForgetPin">Forget Pin</a>
        </div>
    </center>
    <br />
    <center>
        <div class="BtnClass" id="Login2_LoginBtn">
            Login
        </div>
    </center>
</div>