﻿<div id="Login4" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass Login4Inputs ForgetPassword">
            <td class="CaseFollowUpTDClass">
                طريقة التواصل
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" data-native-menu="false" id="Login4_ContactMethod">
                    <option value="-1">اختر طريقة</option>
                    <option value="email">البريد الالكترونى</option>
                    <option value="sms">موبايل</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ForgetPassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ForgetPassword">
            <td class="CaseFollowUpTDClass">
                البريد الالكترونى
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="email" id="Login4_email" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ForgetPassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ChangePassword">
            <td class="CaseFollowUpTDClass">
                اسم المستخدم
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="Login4_Username" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ChangePassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ChangePassword">
            <td class="CaseFollowUpTDClass">
                كلمة المرور الحالية
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="Login4_OldPassword" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ChangePassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ChangePassword">
            <td class="CaseFollowUpTDClass">
                كلمة المرور الجديدة
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="Login4_NewPassword" style="border:0px; width:100%; height:100%" data-display="Login4_PasswordStrength" />
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ChangePassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ChangePassword">
            <td class="CaseFollowUpTDClass">
                تأكيد كلمة المرور
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="Login4_NewPasswordConfirmation" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ChangePassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ChangePassword">
            <td class="CaseFollowUpTDClass">
                متانة كلمة المرور
            </td>
            <td style="width:60%;" class="InputClass">
                <div id="Login4_PasswordStrength"></div>
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ChangePassword">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass ForgetPassword Login4Inputs" id="Login4_ResetPassword">
            إسترجاع
        </div>
        <div class="BtnClass ChangePassword Login4Inputs" id="Login4_ConfirmChangePassword">
            تأكيد
        </div>
    </center>
    <br />
</div>