﻿<div id="NewsDetails" class="DivContainerClass">
    <center>
        <div id="NewsTitle" style="color: #cc0000; text-shadow: none; text-align: right; font-size: 20px !important; margin-bottom: 8px;"></div>
        <div id="NewsDate" style="text-shadow: none; text-align: right; font-size: 12px !important; margin-bottom: 8px; "></div>
        <div style="width:95%">
            <img src="" id="NewsDetailsImg" />
        </div>
        <div style="width:97%; text-align:left;" id="NewsDetails_Content">
        </div>
        <br />
        <center>
            <div class="BtnClass" id="NewsDetails_BackBtn">
                عودة
            </div>
        </center>
        <br />
    </center>
</div>
