﻿<div id="News" class="DivContainerClass">
    <div id="NewsListContent">
    </div>
    <div id="NewsTemplate" style="display:none">
        <table style="width:100%" cellspacing="0" cellpadding="0" onclick="News.OpenNewsDetails('${Id}')">
            <tr>
                <td style="border: 3px solid #862826; border-radius: 10px; width: 75px !important;">
                    <img src="${src}" style="width: 80px !important; height: 80px !important; margin-top: 5px" />
                </td>
                <td style="width:10px">
                </td>
                <td>
                    <div style="height:5px"></div>
                    <div class="LblDivContentClass" style="width: 400px !important; height: 70px; text-align: center; overflow: scroll; vertical-align: middle; display: table-cell;">${Title}</div>
                    <div style="height:5px"></div>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>