﻿<div id="PensionsGuide" class="DivContainerClass">
    <!--<div class="LblDivContentClass" id="PensionsGuide_Pensioner">
        <table style="width:100%">
            <tr>
                <td style="width:100%; text-align:center">متقاعد</td>
                <td>
                    <img src="Images/Arrow.png" style="width:30px; height:30px" />
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="LblDivContentClass" id="PensionsGuide_Beneficiary">
        <table style="width:100%">
            <tr>
                <td style="width:100%; text-align:center">مستفيد</td>
                <td>
                    <img src="Images/Arrow.png" style="width:30px; height:30px" />
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="LblDivContentClass" id="PensionsGuide_Contributor">
        <table style="width:100%">
            <tr>
                <td style="width:100%; text-align:center">مساهم</td>
                <td>
                    <img src="Images/Arrow.png" style="width:30px; height:30px" />
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="LblDivContentClass" id="PensionsGuide_Entity">
        <table style="width:100%">
            <tr>
                <td style="width:100%; text-align:center">منشأة</td>
                <td>
                    <img src="Images/Arrow.png" style="width:30px; height:30px" />
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="LblDivContentClass" id="PensionsGuide_GCC">
        <table style="width:100%">
            <tr>
                <td style="width:100%; text-align:center">دول مجلس التعاون الخليجي</td>
                <td>
                    <img src="Images/Arrow.png" style="width:30px; height:30px" />
                </td>
            </tr>
        </table>
    </div>
    <br />-->
</div>