﻿<div id="PensionCalculation" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Age
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="PensionCalculationAge" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Sector
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="PensionCalculation_Sector" onchange="PensionCalculation.HandleSectorChanged();">
                    <option value="-1">Select Sector</option>
                    <option value="prv">Private</option>
                    <option value="gov">Government</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Salary Median
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="PensionCalculationSalaryMedian" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="color: red; font-size: smaller; text-align: center;padding-top:10px;" id="PensionCalcText"></td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Service Years
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="PensionCalculationServiceYears" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Service Months
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="PensionCalculationServiceMonths" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Service Days
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="PensionCalculationServiceDays" style="border: 0px; width: 95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="CalculatePensionBtn">
            Calculate Pension
        </div>
    </center>
</div>