﻿<div id="PensionCalcResult" class="DivContainerClass">
    <center>
        <div class="LblDivContentClass">
            <table style="width:95%" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="PensionCalcResultTR">
                        السن:
                    </td>
                    <td class="PensionCalcResultTR2" id="AgeResult"></td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        قطاع الأعمال:
                    </td>
                    <td class="PensionCalcResultTR2" id="SectorResult"></td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        متوسط الراتب:
                    </td>
                    <td class="PensionCalcResultTR2" id="SalaryMedianResult"></td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        عدد السنين:
                    </td>
                    <td class="PensionCalcResultTR2" id="ServiceYearsResult"></td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        عدد الشهور:
                    </td>
                    <td class="PensionCalcResultTR2" id="ServiceMonthsResult"></td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        عدد الايام:
                    </td>
                    <td class="PensionCalcResultTR2" id="ServiceDaysResult"></td>
                </tr>

                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr style="height:10px"> </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        نتيجة الحساب:
                    </td>
                    <td class="PensionCalcResultTR2" id="ExpectedPensionSettlementResult"></td>
                </tr>    
                 <tr style="height:10px"> </tr>
            </table>
        </div>
        <div style="color: red; text-align: center; padding-top: 10px;">
             يرجى مراجعة إدارة الموارد البشرية الخاصة بجهة عملك للتأكد من البيانات حيث لا تتحمل الهيئة مسؤولية مصداقيتها
          </div>
        <br />
        <div class="BtnClass" id="BackPensionResultBtn">
            عودة
        </div>
        <br />
    </center>
</div>