﻿<div id="Preferences" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                اللغة
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="Preference_Language">
                    <option value="-1">اختر اللغة</option>
                    <option value="En">انجليزي</option>
                    <option value="Ar">عربي</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                طريقة التواصل
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="Preference_Contact">
                    <option value="-1">اختر طريقة التواصل</option>
                    <option value="Mobile">الهاتف المتحرك</option>
                    <option value="Email">البريد الالكترونى</option>
                    <option value="Landline">الهاتف الارضى</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="PreferencesSaveBtn">
            حفظ
        </div>
    </center>
</div>
