﻿<div id="RegistrationStep3" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                رقم الهوية
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="RegistrationStep3_EmiratesID" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="RegistrationStep3NextBtn">
            التالى
        </div>
        <br />
        <div class="BtnClass" id="RegistrationStep3BackBtn">
            العودة
        </div>
    </center>
</div>
