﻿<div id="RegistrationStep2" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                إتاحة موظفى مجلس التعاون الخليجى
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="RegistrationStep2_GCCNationalityDropDown" onchange="RegistrationModule.HandleGCCNationalityDropDownSelectChanged();">
                    <option value="-1">اختر اختيار</option>
                    <option value="Yes">نعم</option>
                    <option value="No">لا</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass" style="display:none" id="GCCTR">
            <td class="CaseFollowUpTDClass">
                عدد موظفي المجلس
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="RegistrationStep2_GCCCount" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr id="RegistrationStep2_GCCTextTR" style="display: none">
            <td colspan="2" style="color: red; font-size: smaller; text-align:center;">
                دول مجلس التعاون الخليجي هي المملكة السعودية، عمان، الكويت، قطر، والبحرين فقط
            </td>
        </tr>
        <tr class="TRClass" style="display:none" id="EmiratisCountTR">
            <td class="CaseFollowUpTDClass">
                عدد الاماراتيين
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="RegistrationStep2_EmiratisCount" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr id="RegistrationStep2_EmiratisTextTR" style=" display: none">
            <td colspan="2" style="color: red; font-size: smaller; text-align:center;">
                لكل مواطن يجب وجود رقم خلاصة القيد
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="RegistrationStep2NextBtn">
            التالى
        </div>
        <br />
        <div class="BtnClass" id="RegistrationStep2BackBtn">
            العودة
        </div>
    </center>
</div>