﻿<div id="RegistrationStep6" class="DivContainerClass">
    <center>
        <div style="width: 100%; text-align: center; color: #862826; font-size: larger;">Authorized Person Information</div>
        <div id="RegistrationStep6_FieldsDiv">
            <table style="width: 97%; " cellspacing="0" cellpadding="0">
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        First Name
                    </td>
                    <td style="width:60%;" class="InputClass">
                        <input type="text" id="RegistrationStep6_firstname" style="border:0px; width:95%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="2"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Second Name
                    </td>
                    <td style="width:60%;" class="InputClass">
                        <input type="text" id="RegistrationStep6_SecondName" style="border:0px; width:95%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="2"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Third Name
                    </td>
                    <td style="width:60%;" class="InputClass">
                        <input type="text" id="RegistrationStep6_ThirdName" style="border:0px; width:95%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="2"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Fourth Name
                    </td>
                    <td style="width:60%;" class="InputClass">
                        <input type="text" id="RegistrationStep6_FourthName" style="border:0px; width:95%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="2"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Birth Date
                    </td>
                    <td style="width:60%;" class="InputClass">
                        <input type="date" id="RegistrationStep6_BirthDate" style="border:0px; width:95%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="2"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Emirates ID
                    </td>
                    <td style="width:60%;" class="InputClass">
                        <input type="tel" id="RegistrationStep6_EmiratesID" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="2"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Mobile
                    </td>
                    <td style="width:60%;" class="InputClass">
                        <input type="tel" id="RegistrationStep6_MobileNo" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="2"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Land Line
                    </td>
                    <td style="width:60%;" class="InputClass">
                        <input type="tel" id="RegistrationStep6_LandLine" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="2"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        E-mail
                    </td>
                    <td style="width:60%;" class="InputClass">
                        <input type="email" id="RegistrationStep6_Email" style="border:0px; width:95%"/>
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="2"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Job Title
                    </td>
                    <td style="width:60%;" class="InputClass">
                        <input type="text" id="RegistrationStep6_JobTitle" style="border:0px; width:95%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="2"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Signature
                    </td>
                    <td style="width:60%;" class="InputClass">
                        <!--<input type="file" id="RegistrationStep6_File" style="border:0px; width:95%" accept=".Pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,image/jpeg,image/jpg,image/tiff,image/gif,image/png,text/plain,.doc,.docx" />-->
                        <!--<div id="UploadFile" class="browse-wrap">
                            <input type="button" id="button" value="choose file">
                            <input type="file" name="upload" class="upload" id="RegistrationStep6_File" accept=".Pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,image/jpeg,image/jpg,image/tiff,image/gif,image/png,text/plain,.doc,.docx" />
                        </div>
                        <div class="upload-path"></div>-->
                        <table>
                            <tr>
                                <td>
                                    <div class="browse-wrap">
                                        <div>
                                            <img src="Images/upload.png" style="height:35px; width:35px;" onclick="">
                                        </div>
                                        <input type="file" id="RegistrationStep6_File" name="RegistrationStep6_File" style="height: 40px; width: 40px;" class="upload">
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div style="">
                                        <img src="Images/cam.png" id="CamUpload" style="height:35px; width:35px; z-index:2000000"/>
                                    </div>
                                </td>
                                <td id="RegistrationCheckMark" style="display:none">
                                    <img src="Images/CheckMark.png" style="height:35px; width:35px; z-index:2000000">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="2"></td>
                </tr>
                <tr style="text-align:center">
                    <td colspan="2">
                        <input type="button" id="RegistrationStep6_AddBtn" value="Add" style="background-color: #862826; color: white; " />
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div id="RegistrationStep6_PersonsDiv">
        </div>
        <div id="RegistrationStep6_ButtonDiv">
            <center>
                <div class="BtnClass" id="RegistrationStep6NextBtn">
                    Next
                </div>
                <br />
                <div class="BtnClass" id="RegistrationStep6BackBtn">
                    Back
                </div>
            </center>
            <br />
        </div>
        <div style="display:none" id="RegistrationStep6_PersonTemplate">
            <div style="margin-bottom:2%" id="RegistrationStep6_#ID#">
                <table class="LblDivContentClass" style="width:95%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>#Name#</td>
                        <td onclick="RegistrationModule.DeletePerson('#ID#')" style="width:30px">
                            <img src="Images/DeletIcon.png" style="width: 25px; height: 25px; margin-top: 2%; margin-bottom: -8%;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </center>
</div>
