﻿<div id="RegistrationStep5" class="DivContainerClass">
    <table style="width: 100%; " cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                معلومات صاحب المنشأة
            </td>
            <td style="width:60%;" class="InputClass" id="RegistrationStep5_OwnerInfoTD"></td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr id="RegistrationStep5_OwnerNameTR" style="display:none">
            <td class="InputClass" style="width: 100%; border-left: 2px solid #BA4848; border-top-left-radius: 5px; border-bottom-left-radius: 5px; " colspan="2">
                <table style="width:100%;" cellpadding="0" cellspacing="0">
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            الاسم الاول
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="text" id="Registrationstep5_Ownerfirstname" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            الاسم الثانى
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="text" id="RegistrationStep5_OwnerSecondName" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            الاسم الثالث
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="text" id="RegistrationStep5_OwnerThirdName" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            الاسم الرابع
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="text" id="RegistrationStep5_OwnerFourthName" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            تاريخ الميلاد
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="date" id="RegistrationStep5_OwnerBirthDate" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            رقم الهوية
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="tel" id="RegistrationStep5_OwnerEmiratesID" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            موبايل
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="tel" id="RegistrationStep5_OwnerMobileNo" style="border: 0px; width: 95%; direction: ltr; text-align: right;" pattern="[0-9]*" onkeypress="return isNumber(event);" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            الهاتف الارضى
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="tel" id="RegistrationStep5_OwnerLandLine" style="border: 0px; width: 95%; direction: ltr; text-align: right;" pattern="[0-9]*" onkeypress="return isNumber(event);" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            البريد الالكترونى
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="email" id="RegistrationStep5_OwnerEmail" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr style="text-align:center">
                        <td colspan="2">
                            <input type="button" id="RegistrationStep5_OwnerNameBtn" value="حفظ" style="background-color: #862826; color: white; " />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                معلومات المدير المسئول
            </td>
            <td style="width:60%;" class="InputClass" id="RegistrationStep5_DirectorInfoTD"></td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr id="RegistrationStep5_DirectorNameTR" style="display:none">
            <td class="InputClass" style="width: 100%; border-left: 2px solid #BA4848; border-top-left-radius: 5px; border-bottom-left-radius: 5px; " colspan="2">
                <table style="width:100%;" cellpadding="0" cellspacing="0">
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            الاسم الاول
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="text" id="Registrationstep5_Directorfirstname" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            الاسم الثانى
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="text" id="RegistrationStep5_DirectorSecondName" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            الاسم الثالث
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="text" id="RegistrationStep5_DirectorThirdName" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            الاسم الرابع
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="text" id="RegistrationStep5_DirectorFourthName" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            تاريخ الميلاد
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="date" id="RegistrationStep5_DirectorBirthDate" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            رقم الهوية
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="tel" id="RegistrationStep5_DirectorEmiratesID" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            موبايل
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="tel" id="RegistrationStep5_DirectorMobileNo" style="border: 0px; width: 95%; direction: ltr; text-align: right;" pattern="[0-9]*" onkeypress="return isNumber(event);" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            الهاتف الارضى
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="tel" id="RegistrationStep5_DirectorLandLine" style="border: 0px; width: 95%; direction: ltr; text-align: right;" pattern="[0-9]*" onkeypress="return isNumber(event);" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="TRClass">
                        <td class="CaseFollowUpTDClass">
                            البريد الالكترونى
                        </td>
                        <td style="width:60%;" class="InputClass">
                            <input type="email" id="RegistrationStep5_DirectorEmail" style="border:0px; width:95%" />
                        </td>
                    </tr>
                    <tr class="SpaceClass">
                        <td colspan="2"></td>
                    </tr>
                    <tr style="text-align:center">
                        <td colspan="2">
                            <input type="button" id="RegistrationStep5_DirectorNameBtn" value="حفظ" style="background-color: #862826; color: white; " />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                تاريخ تأسيس المنشأة
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="date" id="RegistrationStep5_DateOfEstablishment" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass" id="EmirateTR">
            <td class="CaseFollowUpTDClass">
                الإمارة
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="RegistrationStep5_EmirateDropDown">
                    <option value="-1">اختر الإمارة</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الهاتف
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="RegistrationStep5_Phone" style="border: 0px; width: 95%; direction: ltr; text-align: right;" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الفاكس
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="RegistrationStep5_Fax" style="border: 0px; width: 95%; direction: ltr; text-align: right;" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                صندوق البريد
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="RegistrationStep5_POBox" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="RegistrationStep5NextBtn">
            التالى
        </div>
        <br />
        <div class="BtnClass" id="RegistrationStep5BackBtn">
            العودة
        </div>
    </center>
    <br />
</div>