﻿<div id="RegistrationError" class="DivContainerClass">
    <center>
        <div class="LblDivContentClass">
            <div class="RegErrorClass">
                يتم تسجيل جميع الجهات المحلية والشركات الخاصة التابعة لامارة أبوظبي من خلال "صندوق معاشات ومكافئات التقاعد لإمارة أبوظبي" .. لمزيد من المعلومات يرجى زيارة الموقع  http://www.pension.gov.ae
            </div>
        </div>
    </center>
</div>