﻿<div id="RegistrationError" class="DivContainerClass">
    <center>
        <div class="LblDivContentClass">
            <div class="RegErrorClass">
                the registration of all local authorities and private companies in the Emirate of Abu Dhabi through the " Pension Fund and equivalents Abu Dhabi Retirement " .. For more information, please visit http://www.pension.gov.ae
            </div>
        </div>
    </center>
</div>