﻿<div id="Registration" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Entity Type
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="RegistrationEntityTypeDropDown" onchange="RegistrationModule.HandleEntityTypeDropDownSelectChanged();">
                    <option value="-1">Select Type</option>
                    <option value="Private">Private</option>
                    <option value="Federal">Federal</option>
                    <option value="Local">Local Government</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Entity Sub-Type
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" disabled="disabled" class="RegEntityDropDowns" id="RegistrationEntitySubTypeDropDown_Private" onchange="RegistrationModule.HandleEntitySubTypeDropDownSelectChanged('RegistrationEntitySubTypeDropDown_Private')">
                    <option value="-1">Select Sub-Type</option>
                    <option class="Private">Private</option>
                </select>
                <select style="width:100%; border:none; display:none" disabled="disabled" class="RegEntityDropDowns" id="RegistrationEntitySubTypeDropDown_Federal" onchange="RegistrationModule.HandleEntitySubTypeDropDownSelectChanged('RegistrationEntitySubTypeDropDown_Federal')">
                    <option value="-1">Select Sub-Type</option>
                    <option class="Federal">Institutions</option>
                    <option class="Federal">Ministries</option>
                </select>
                <select style="width:100%; border:none; display:none" disabled="disabled" class="RegEntityDropDowns" id="RegistrationEntitySubTypeDropDown_Local" onchange="RegistrationModule.HandleEntitySubTypeDropDownSelectChanged('RegistrationEntitySubTypeDropDown_Local')">
                    <option value="-1">Select Sub-Type</option>
                    <option class="Local">Government</option>
                    <option class="Local">Independent</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass" id="EmirateTR" style="display:none">
            <td class="CaseFollowUpTDClass">
                Emirate
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="EmirateDropDown" onchange="RegistrationModule.HandleEmirateDropDownChanged()">
                    <option value="-1">Select Emirate</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass" id="GCCTR">
            <td class="CaseFollowUpTDClass">
                GCC Nationality Employee Count
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="RegistrationStep2_GCCCount" style="border:0px; width:95%" pattern="[0-9]*" value="0" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr id="RegistrationStep2_GCCTextTR">
            <td colspan="2" style="color: red; font-size: smaller; text-align:center;">
                GCC Countries are Saudi Arabia, Oman, Kuwait, Qatar, and Bahrain Only
            </td>
        </tr>
        <tr class="TRClass" id="EmiratisCountTR">
            <td class="CaseFollowUpTDClass">
                Emiratis Count
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="RegistrationStep2_EmiratisCount" style="border:0px; width:95%" pattern="[0-9]*"  value="0" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr id="RegistrationStep2_EmiratisTextTR">
            <td colspan="2" style="color: red; font-size: smaller; text-align:center;">
                For any national employee, a Family Book ID is required
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="RegisterNextBtn">
            Next
        </div>
    </center>
</div>