﻿<div id="ServiceDetails" class="DivContainerClass">
    <center>
        <div id="ServiceNameDiv">
            <!--<label class="ServiceDetailsMainTitle" style="text-align:right">اسم الخدمه</label>-->
            <div id="ServiceName" class="ServiceDetailsMainTitle" style="text-align: center; text-shadow: none !important; font-size: 20px !important;">
            </div>
        </div>
        <br />
        
        <div id="ServiceDescriptionDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">وصف الخدمه</label>
            <div id="ServiceDescription" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
        <br />
        <div id="CustomerServiceContactDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">خدمه  عملاء</label>
            <div id="CustomerServiceContact" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
        <br />
         
        <div id="DepartmentDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">الاشتراكات</label>
            <div id="Department" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
        <br />
        
        <div id="EstimatedServiceDurationDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">مدة الخدمة</label>
            <div id="EstimatedServiceDuration" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
        <br />
       
        <div id="GPSSAOfficesDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">المكاتب</label>
            <div id="GPSSAOffices" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
        <br />
       
        <div id="OfficerInChargeDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">الضابط المكلف</label>
            <div id="OfficerInCharge" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
        <br />
     
        <div id="RequiredDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">مطلوب</label>
            <div id="Required" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
        <br />
         
        <div id="RequiredDocumentsDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">الوثائق  المطلوبه</label>
            <div id="RequiredDocuments" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
        
        <br />
        <div id="ServiceFeeDetailsDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">الرسوم</label>
            <div id="ServiceFeeDetails" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
     
        <br />
        <div id="ServiceProcedureDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">متطلبات الخدمه</label>
            <div id="ServiceProcedure" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
        <br />
     
        <div id="ServiceRecipientDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">مستلم الخدمة</label>
            <div id="ServiceRecipient" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
        <br />
      
        <div id="ServiceUsersDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:right">خدمة المستخدمين</label>
            <div id="ServiceUsers" style="text-align: right; text-shadow: none !important;">
            </div>
        </div>
      
        <br />
    </center>
    <center>
        <table style="width: 100%;" id="ServiceDetails_BackMultiBtn">
            <tr style="">
                <td colspan="2" style=" width: 50%;">
                    <div class="BtnClass" id="ServiceDetails_BackBtn" style=" float: left;height: 32px;">
                        عودة
                    </div>
                </td>
                <td colspan="2" style=" width: 50%;">
                    <div class="BtnClass" id="GoToService" style="height: 32px;">
                        استخدم الخدمة
                    </div>
                </td>
            </tr>
        </table>
        <div class="BtnClass" id="ServiceDetails_BackSingleBtn" style="display:none;">
            عودة
        </div>
    </center>
    <br />
</div>