﻿<div id="StartUp" class="DivContainerClass">
    <center>
        <table class="SearchTable" cellpadding="0" cellspacing="0">
            <tr>
                <td id="SearchCaseFollowUp" style="width:20%"></td>
                <td style="width:80%">
                    <!--<table style="width:90%; margin-right:4%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="width:80%">
                                <input type="number" id="CaseFollowUpNumber" style="width:90%; text-align:left" placeholder="متابعة معاملة" onkeypress="return isNumberWithDash(event);" />
                            </td>
                            <td style="color:white; width:20%">-1</td>
                        </tr>
                    </table>-->
                    <input type="tel" id="CaseFollowUpNumber" style="width:90%; text-align:right" placeholder="متابعة معاملة" />
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:50%;" id="AboutGPSSATD">
                    <img src="Images/AboutUs_ar.png" class="HomeIcons" />
                </td>
                <td style="width:50%;" id="ContactUsTD">
                    <img src="Images/ContactUs_ar.png" class="HomeIcons" />
                </td>
            </tr>
            <tr>
                <td style="width:50%;" id="ServiceTD">
                    <img src="Images/ServicesHome_ar.png" class="HomeIcons" />
                </td>
                <td style="width:50%;" id="CalculationTD">
                    <img src="Images/ManualPensionCalculation_ar.png" class="HomeIcons" />
                </td>
            </tr>
            <tr>
                <td style="width:50%;" id="PensionRaulationsTD">
                    <img src="Images/PensionsRaluations_ar.png" class="HomeIcons" />
                </td>
                <td style="width:50%;" id="NewsTD">
                    <img src="Images/NewsHome_ar.png" class="HomeIcons" />
                </td>
            </tr>
        </table>
    </center>
</div>