﻿<div id="StartUp" class="DivContainerClass">
    <center>
        <table class="SearchTable" cellpadding="0" cellspacing="0">
            <tr>
                <td id="SearchCaseFollowUp" style="width:20%"></td>
                <td style="width:80%">
                    <!--<table style="width:90%; margin-left:4%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="color:white">1-</td>
                            <td>
                                <input type="number" id='CaseFollowUpNumber' style="width:90%" placeholder="Case Follow-Up"
                                       onkeypress="return isNumberWithDash(event);" />
                            </td>
                        </tr>
                    </table>-->
                    <input type="tel" id='CaseFollowUpNumber' style="width:90%" placeholder="Case Follow-Up" />
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:50%;" id="AboutGPSSATD">
                    <img src="Images/AboutUs.png" class="HomeIcons" />
                </td>
                <td style="width:50%;" id="ContactUsTD">
                    <img src="Images/ContactUs.png" class="HomeIcons" />
                </td>
            </tr>
            <tr>
                <td style="width:50%;" id="ServiceTD">
                    <img src="Images/ServicesHome.png" class="HomeIcons" />
                </td>
                <td style="width:50%;" id="CalculationTD">
                    <img src="Images/ManualPensionCalculation.png" class="HomeIcons" />
                </td>
            </tr>
            <tr>
                <td style="width:50%;" id="PensionRaulationsTD">
                    <img src="Images/PensionsRaluations.png" class="HomeIcons" />
                </td>
                <td style="width:50%;" id="NewsTD">
                    <img src="Images/NewsHome.png" class="HomeIcons" />
                </td>
            </tr>
        </table>
    </center>
</div>