﻿<div id="UpdateEmployerDetails" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Reason for Update
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="UpdateEmployerDetails_ReasonsDropDown">
                    <option value="-1">Select Reason</option>
                    <option value="0">Change Entity Name</option>
                    <option value="1">Change Entity Owner</option>
                    <option value="2">Change Entity Director</option>
                    <option value="3">Entity Cancelation</option>
                    <option value="4">Entity Merged</option>
                    <option value="5">Change Contact Details</option>
                    <option value="6">Change in Authorized Persons</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityName_TR">
            <td class="CaseFollowUpTDClass">
                Entity Name
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateEmployerDetails_EntityName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityName_TR_Space">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityNameAR_TR">
            <td class="CaseFollowUpTDClass">
                Entity Name AR
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateEmployerDetails_EntityNameAR" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityNameAR_TR_Space">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_FirstName_TR">
            <td class="CaseFollowUpTDClass">
                First Name
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateEmployerDetails_FirstName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass UpdateName">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_SecondName_TR">
            <td class="CaseFollowUpTDClass">
                Second Name
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateEmployerDetails_SecondName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass UpdateName">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_ThirdName_TR">
            <td class="CaseFollowUpTDClass">
                Third Name
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateEmployerDetails_ThirdName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass UpdateName">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_FourthName_TR">
            <td class="CaseFollowUpTDClass">
                Fourth Name
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateEmployerDetails_FourthName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass UpdateName">
            <td colspan="2"></td>
        </tr>
        <!--<tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_EntityBirthDate_TR">
            <td class="CaseFollowUpTDClass">
                Birth Date
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="date" id="UpdateEmployerDetails_EntityBirthDate" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_EntityBirthDate_Space">
            <td colspan="2"></td>
        </tr>-->
        <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_EntityMobile_TR">
            <td class="CaseFollowUpTDClass">
                Mobile
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="UpdateEmployerDetails_EntityMobile" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_EntityMobileID_TR_Space">
            <td colspan="2"></td>
        </tr>

        <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_EntityEmiratesID_TR">
            <td class="CaseFollowUpTDClass">
                Emirates ID
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="UpdateEmployerDetails_EntityEmiratesID" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_EntityEmiratesID_TR_Space">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityAddress1_TR">
            <td class="CaseFollowUpTDClass">
                Entity Address Line 1
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateEmployerDetails_EntityAddress1" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityAddress1_TR_Space">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityAddress2_TR">
            <td class="CaseFollowUpTDClass">
                Entity Address Line 2
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateEmployerDetails_EntityAddress2" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityAddress2_TR_Space">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityDistrict_TR">
            <td class="CaseFollowUpTDClass">
                Entity District
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateEmployerDetails_EntityDistrict" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityDistrict_TR_Space">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityEmirate_TR">
            <td class="CaseFollowUpTDClass">
                Entity Emirate
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="UpdateEmployerDetails_EntityEmirate"></select>
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityEmirate_TR_Space">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_PhoneNumber_TR">
            <td class="CaseFollowUpTDClass">
                Phone Number
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="UpdateEmployerDetails_PhoneNumber" style="border:0px; width:95%" pattern="[0-9]*" maxlength="15" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_PhoneNumber_TR_Space">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_FaxNumber_TR">
            <td class="CaseFollowUpTDClass">
                Fax Number
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="UpdateEmployerDetails_FaxNumber" style="border:0px; width:95%" pattern="[0-9]*" maxlength="15" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_FaxNumber_TR_Space">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_POBox_TR">
            <td class="CaseFollowUpTDClass">
                P.O. Box
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="UpdateEmployerDetails_POBox" style="border:0px; width:95%" pattern="[0-9]*" maxlength="15" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_POBox_TR_Space">
            <td colspan="2"></td>
        </tr>

        <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_LandLine_TR">
            <td class="CaseFollowUpTDClass">
                Land Line
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="UpdateEmployerDetails_LandLine" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_LandLine_TR_Space">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_Email_TR">
            <td class="CaseFollowUpTDClass">
                E-mail
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="email" id="UpdateEmployerDetails_Email" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_Email_TR_Space">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Required Doc
            </td>
            <td></td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr>
            <td class="InputClass" style="width: 60%; border-left: 2px solid #BA4848; border-top-left-radius: 5px; border-bottom-left-radius: 5px; " colspan="2">
                <table style="width:100%">
                    <tr>
                        <td>
                            <div id="UpdateEmployerDetails_RequiredDoc" style="height: 150px;overflow: scroll; "></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <!--<tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Required Doc
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="file" id="UpdateEmployerDetails_File" style="border: 0px; width: 95%; opacity: 0 !important; " accept=".Pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,image/jpeg,image/jpg,image/tiff,image/gif,image/png,text/plain,.doc,.docx" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>-->
    </table>
    <br />
    <center>
        <div class="BtnClass" id="UpdateEmployerDetails_UploadBtn">
            Upload
        </div>
    </center>
    <br />
    <center>
        <div class="BtnClass" id="UpdateEmployerDetails_SaveBtn">
            Save
        </div>
    </center>
    <br />
</div>
<div id="UpdateEmployerDetails_File_Temp" style="display:none">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr>
            <td style="color: #862826; height: 40px; width: 90%;">
                $RequireDoc$
            </td>
            <td>
                <!--<img src="Images/upload.png" style="height:35px; width:35px;" onclick="UpdateEmployer.OpenUploadFile();"/>
                <input type="file" id="UpdateEmployerDetails_File" style="-moz-opacity: 0; filter: alpha(opacity: 0); opacity: 0; z-index: 2; display:none; width:1px; height:1px" accept=".Pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,image/jpeg,image/jpg,image/tiff,image/gif,image/png,text/plain,.doc,.docx" />-->
                <!--<div id="RequireDoc" class="Upload-wrap">
                    <div class=""><img src="Images/upload.png" style="height:35px; width:35px;" onclick="UpdateEmployer.OpenUploadFile();" /></div>
                    <input type="file" id="UpdateEmployerDetails_File" name="upload" class="upload" title="">
                </div>-->
                <table>
                    <tr>
                        <td>
                            <div class="browse-wrap">
                                <div>
                                    <img src="Images/upload.png" style="height:35px; width:35px;" onclick="UpdateEmployer.OpenUploadFile();">
                                </div>
                                <input type="file" id="" name="upload" style="height: 40px; width: 40px;" class="upload" title="">
                            </div>
                        </td>
                        <td></td>
                        <td>
                            <div style="">
                                <img src="Images/cam.png" id="CamUpload" style="height:35px; width:35px; z-index:2000000" onclick="" />
                            </div>
                        </td>
                        <td id="CheckMark" style="display:none">
                            <img src="Images/CheckMark.png" style="height:35px; width:35px; z-index:2000000">
                        </td>
                    </tr>
                </table>
            </td>
            <!--<td style="width:2%"></td>
            <td style="width: 3%">
                <img src="Images/cam.png" style="height:35px; width:35px; z-index:2000000" />
            </td>-->
        </tr>
        <tr class="PensionCalcResultTR3">
            <td colspan="3"></td>
        </tr>
    </table>
</div>