﻿<div id="UpdateResponsiblePerson" class="DivContainerClass">
    <!--<table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Responsible Persons
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" data-native-menu="false" id="UpdateResponsiblePerson_Persons"></select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Emirates ID
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="UpdateResponsiblePerson_EmiratesID" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                First Name
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateResponsiblePerson_FirstName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Second Name
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateResponsiblePerson_SecondName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Third Name
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateResponsiblePerson_ThirdName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Forth Name
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateResponsiblePerson_ForthName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Mobile Number
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="UpdateResponsiblePerson_MobileNumber" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                E-mail
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="email" id="UpdateResponsiblePerson_Email" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Preferred Language
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="UpdateResponsiblePerson_Language">
                    <option value="-1">Select Language</option>
                    <option value="En">English</option>
                    <option value="Ar">Arabic</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Preferred Contact
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="UpdateResponsiblePerson_Contact">
                    <option value="-1">Select Contact</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Username
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateResponsiblePerson_Username" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Land Line
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="UpdateResponsiblePerson_LandLine" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Fax
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="UpdateResponsiblePerson_Fax" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Authorized Services
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" multiple="multiple" id="UpdateResponsiblePerson_ListOfValues"></select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <div style="display:none">
        <br />
        <center>
            <div class="BtnClass" id="UpdateResponsiblePerson_UpdateBtn">
                Update
            </div>
        </center>
        <br />
        <center>
            <div class="BtnClass" id="UpdateResponsiblePerson_DeleteBtn">
                Delete
            </div>
        </center>
    </div>-->
    <div id="ManageResponsibleContent">

    </div>
    <div id="ManageResponsiblePersonTemplate" style="display:none;">
        <div class="LblDivContentClass" id="${EmiratesId}" style=" min-height: 40px;margin-bottom:-12px;overflow:hidden;" onclick="UpdateResponsiblePerson.OpenPersonDetails('${EmiratesId}')">
            <div class="ContactUsMainTitle" style="text-align:center;">
                ${FullName}
            </div>
            <table style="width:95%; display:none" cellspacing="2" cellpadding="0" class="UpdateResTable">
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR2">
                        <span style="margin: 0px">Emirates ID:</span><span style="color: #862826; margin: 0px">${EmiratesId}</span>

                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR2">
                        <span style="margin: 0px">UserName:</span><span style="color: #862826; margin: 0px">${UserName}</span>
                         
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR2">
                        <span style="margin: 0px">Email:</span><span style="color: #862826; margin: 0px; word-wrap: break-word;">${Email}</span>
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR2">
                        <span style="margin: 0px">Mobile:</span><span style="color: #862826; margin: 0px">${Mobile}</span>
 
                    </td>
                </tr>
            </table>
            <div class="ContactUsMainTitle ServiceNameClasses" style="display:none">
                Authorized Services
            </div>
            {{each GPSSAServices}}
            <table style="width:95%; display:none" cellspacing="0" cellpadding="0" class="ServicesTable">
                <tr>
                    <td class="PensionCalcResultTR2">
                        ${Name}
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
            </table>
            {{/each}}
        </div>
        <br />
    </div>
    <br />
    <br />
</div>
<div id="UpdateResponsiblePerson_UsersDropDownTemp" style="display:none">
    <option value="${ContactRowId}">${FullName}</option>
</div>
<div id="UpdateResponsiblePerson_ValuesTemp" style="display:none">
    <option value="${Id}">${Name}</option>
</div>