﻿<div id="UpdateResponsiblePerson" class="DivContainerClass">
    <!--<table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الأشخاص المسئولين
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" data-native-menu="false" id="UpdateResponsiblePerson_Persons"></select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                رقم الهوية
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="UpdateResponsiblePerson_EmiratesID" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الاول
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateResponsiblePerson_FirstName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الثاني
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateResponsiblePerson_SecondName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الثالث
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateResponsiblePerson_ThirdName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الرابع
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateResponsiblePerson_ForthName" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                رقم الهاتف المتحرك
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="UpdateResponsiblePerson_MobileNumber" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                البريد الالكتروني
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="email" id="UpdateResponsiblePerson_Email" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                اللغة
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="UpdateResponsiblePerson_Language">
                    <option value="-1">اختر اللغة</option>
                    <option value="En">انجليزي</option>
                    <option value="Ar">عربي</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                طريقة التواصل
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="UpdateResponsiblePerson_Contact">
                    <option value="-1">اختر طريقة التواصل</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                اسم المستخدم
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="UpdateResponsiblePerson_Username" style="border:0px; width:95%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الهاتف الأرضى
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="UpdateResponsiblePerson_LandLine" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الفاكس
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="tel" id="UpdateResponsiblePerson_Fax" style="border:0px; width:95%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الخدمات المرخصة
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" multiple="multiple" id="UpdateResponsiblePerson_ListOfValues"></select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <div style="display:none">
        <br />
        <center>
            <div class="BtnClass" id="UpdateResponsiblePerson_UpdateBtn">
                تحديث
            </div>
        </center>
        <br />
        <center>
            <div class="BtnClass" id="UpdateResponsiblePerson_DeleteBtn">
                حذف
            </div>
        </center>
    </div>
    <br />
    <br />-->

    <div id="ManageResponsibleContent">

    </div>
    <div id="ManageResponsiblePersonTemplate" style="display:none">
        <div class="LblDivContentClass" id="${EmiratesId}" style=" min-height: 40px" onclick="UpdateResponsiblePerson.OpenPersonDetails('${EmiratesId}')">
            <div class="ContactUsMainTitle" style="text-align:center;">
                ${FullName}
            </div>
            <table style="width:95%; display:none" cellspacing="2" cellpadding="0" class="UpdateResTable">
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR2">
                        <span style="margin: 0px;">رقم الهوية:</span><span style="color: #862826; margin: 0px">${EmiratesId}</span>
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR2">
                        <span style="margin: 0px">اسم المستخدم:</span><span style="color: #862826; margin: 0px">${UserName}</span>
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR2">
                        <span style="margin: 0px">البريد الالكتروني:</span><span style="color: #862826; margin: 0px; word-wrap: break-word;">${Email}</span>
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR2">
                        <span style="margin: 0px">رقم الهاتف:</span><span style="color: #862826; margin: 0px">${Mobile}</span>
                              </td>
                </tr>
            </table>
            <div class="ContactUsMainTitle ServiceNameClasses" style="display:none">
                الخدمات المرخصة
            </div>
            {{each GPSSAServices}}
            <table style="width:95%; display:none" cellspacing="0" cellpadding="0" class="ServicesTable">
                <tr>
                    <td class="PensionCalcResultTR2">
                        ${NameAr}
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
            </table>
            {{/each}}
        </div>
        <br />
    </div>
    <br />
    <br />
</div>
<div id="UpdateResponsiblePerson_UsersDropDownTemp" style="display:none">
    <option value="${ContactRowId}">${FullName}</option>
</div>
<div id="UpdateResponsiblePerson_ValuesTemp" style="display:none">
    <option value="${Id}">${Name}</option>
</div>