﻿<div id="ViewInsuredEmployees" class="DivContainerClass">
    <center>
       
        <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr class="TRClass">
                <td class="CaseFollowUpTDClass">
                   البحث بواسطة:
                </td>
                <td style="width:60%;" class="InputClass">
                    <select style="width:100%; border:none" id="SearchByDropDown">
                        <!--<option value="0">اختر نوع البحث</option>-->
                        <option value="1">الاسم</option>
                        <option value="2">رقم الهوية</option>
                    </select>
                </td>
            </tr>
            <tr class="SpaceClass">
                <td colspan="2"></td>
            </tr>
        </table>
        <table style="width:100%;" cellpadding="0" cellspacing="0">
            <tr>
                <!--<td id="ViewInsuredEmployees_SearchIcon" style="width: 30px; height: 30px; padding-top: 5px;">
                    <img src="Images/Search-icon.png" style="width:30px; height:30px" />
                </td>-->
                <td>
                    <input type="text" style="border: 0px; width: 100%; text-align: right; height: 28px;" class="InputClass" id="ViewInsuredEmployees_Name" />
                </td>
            </tr>
            <tr class="SpaceClass">
                <td colspan="2"></td>
            </tr>
        </table>
        <center>
            <table style="width: 100%;">
                <tr style="">
                    <td colspan="2" style=" width: 50%;">
                        <div class="BtnClass" id="SearchBtn" style=" float: left;height: 32px;">
                            بحث
                        </div>
                    </td>
                    <td colspan="2" style=" width: 50%;">
                        <div class="BtnClass" id="GetAllData" style="height: 32px;">
                            عرض الكل
                        </div>
                    </td>
                </tr>
            </table>
        </center>
        <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr class="TRClass">
                <td class="CaseFollowUpTDClass">
                    رقم الصفحة:
                </td>
                <td style="width:60%;" class="InputClass">
                    <select style="width:100%; border:none" id="ViewInsuredEmployees_PageNoDropDown"></select>
                </td>
            </tr>
            <tr class="SpaceClass">
                <td colspan="2"></td>
            </tr>
        </table>
        <div class="LblDivContentClass" style="width: 100% !important; margin-bottom: 10px;" id="InsuredEmployeesList">
        </div>
    </center>
    <div id="InsuredEmployeesTempl" style="display:none">
        <table style="width:100%" cellpadding="0" cellspacing="0" index="${$index}">
            <tr>
                <td style="height: 40px; width: 60%;">
                    <span style="color: #862826; margin:0px">${FullName}</span>
                </td>
                <td style="width:40%">
                    <span style="margin: 0px">الحالة:</span><span style="color: #862826; margin: 0px">${Status}</span>
                </td>
            </tr>
            <tr>
                <td style="width:60%">
                    <span style="margin: 0px">رقم الهوية:</span><span style="color: #862826; margin: 0px">${EmiratesId}</span>
                </td>
                <td style="width:40%; display:none">
                    <select style="width:100%; border:none">
                        <option>Actions</option>
                        <option>Case Managment</option>
                        <option>Merge Service</option>
                        <option>Purchase Service</option>
                        <option>Approve Transferred</option>
                        <option>Transfer Employee</option>
                    </select>
                </td>
            </tr>
            <tr class="PensionCalcResultTR3">
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
</div>