﻿#popup_container {
    border-radius: 13px;
    border-color: #BA4848 !important;
}

#popup_title {
    border: none !important;
}

#popup_container .ui-header {
    border: 1px solid #BA4848 !important;
}

select {
    background-color: transparent !important;
}

#PageBody {
    background-color: #F1E3BC;
    background-image: url('../../Images/bg.png');
    background-size: 100%;
}

.PageClass {
    min-height: 0px !important;
    margin: 0px !important;
    padding-bottom: 0px !important;
}

#ALLPageContent {
    margin-top: 20px;
}

.HeaderClass {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #BA4848 !important;
    box-shadow: 0px 5px 5px #888888;
    border: 0px;
}

.HeaderTable {
    width: 100%;
    text-shadow: none !important;
}

#MenuIconTD {
    text-align: left;
    width: 13% !important;
}

#LogoIconTD {
    text-align: center;
}

#LangBtn {
    color: #F1E3BC;
    width: 30px;
    text-align: center;
    font-size: x-large;
}

#HeaderTitleTD {
    text-align: center;
}

.IconClass {
    height: 40px;
    width: 40px;
    margin-top: 2%;
}

.HeaderTitleClass {
    color: #F1E3BC;
    font-weight: normal;
}

.ContentClass {
    background-image: url('../../Images/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0px !important;
}

.FooterClass {
    height: 50px;
    width: 100%;
    display: none;
    position: fixed;
}

.ui-panel-inner {
    padding: 0;
}

.ui-panel-wrapper {
    background: none;
}

#MenuPanel {
    background-color: #862826 !important;
}

#MenuHeaderDiv {
    background-color: #BA4848;
    text-align: center;
    height: 50px;
    box-shadow: 0px 5px 5px #888888;
    border-right: 1px solid gray;
}

.InputClass {
    color: gray;
    background-color: white;
    border: 2px solid #BA4848;
    border-radius: 5px;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.CaseFollowUpTDClass {
    width: 40%;
    height: 35px;
    background-image: url('../../Images/temp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0%;
    text-align: center;
    color: white;
    text-shadow: none !important;
}

.CalculatePensionBtnClass {
    width: 50%;
    height: 40px;
    background-image: url('../../Images/temp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    text-shadow: none !important;
}

.TRClass {
    height: 45px !important;
}

.MenuIcons {
    width: 30px !important;
    height: 30px !important;
}

.MenuItemClass {
    width: 100%;
    padding-left: 7%;
    color: white;
    text-shadow: none !important;
}

.MenuSpace {
    height: 5px;
    background-color: #F1E3BC;
}

.SearchTable {
    width: 80%;
    background-image: url('../../Images/Search.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0%;
}

#CaseFollowUpNumber {
    color: white;
    background: transparent;
    margin-left: 5%;
    border: 0px;
}

.MenuIconClass {
    height: 30px;
    width: 30px;
    margin-left: 10%;
}

.MenuItemIconTDClass {
    height: 35px;
    width: 30px;
}

#popup_content {
    background: none !important;
    background-color: #F1E3BC !important;
}

#popup_message {
    padding-left: 0px;
    color: #BA4848 !important;
}

#popup_title {
    background: none !important;
    background-color: #BA4848 !important;
    color: #F1E3BC !important;
    font-size: 20px !important;
}

.BtnClass {
    background: -webkit-radial-gradient(#C0635E, #862826, #862826); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#C0635E, #862826, #862826); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#C0635E, #862826, #862826); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#C0635E, #862826, #862826); /* Standard syntax (must be last) */
    color: white;
    width: 75%;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    border-image: radial-gradient(#fff 60%, gray 100%, #fff) 1%;
    border-radius: 10px;
    border: 3px solid gray;
    text-shadow: none !important;
}

.SpinnerClass {
    display: none;
    position: fixed;
    z-index: 20000;
    width: 102%;
    text-align: center;
    background-color: mistyrose;
    height: 100%;
    opacity: .7;
}

.PensionCalcResultTR {
    color: #862826;
    height: 40px !important;
    width: 40% !important;
    text-shadow: none !important;
}

.PensionCalcResultTR2 {
    color: gray;
    height: 40px !important;
    width: 60% !important;
    text-shadow: none !important;
}

.PensionCalcResultTR3 {
    height: 3px;
    background-color: #862826;
    text-shadow: none !important;
}

.LblDivContentClass {
    width: 95%;
    background-color: white;
    border: 3px solid #862826;
    border-radius: 10px;
}

.RegErrorClass {
    text-align: center;
    color: red;
    font-size: x-large;
}

.SpaceClass {
    height: 10px;
}

.ContactUsMainTitle {
    text-align: center;
    width: 100%;
    color: #862826;
    font-size: large;
    font-weight: bold;
    margin-top: 3%;
}

.ServiceDetailsMainTitle {
    text-align: center;
    width: 100%;
    color: #862826;
    font-size: 19px !important;
    font-weight: bold !important;
    margin-top: 3%;
    text-shadow: none !important;
    /*border: 1px solid gray;*/
}

.TabClass {
    background: -webkit-radial-gradient(#C0635E, #862826, #862826); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#C0635E, #862826, #862826); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#C0635E, #862826, #862826); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#C0635E, #862826, #862826); /* Standard syntax (must be last) */
    color: white;
    width: 33.33%;
    height: 40px;
    text-align: center;
    font-size: small;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.ActiveTabClass {
    background: -webkit-radial-gradient(#E9E98F, #CBC85F, #CBC85F); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#E9E98F, #CBC85F, #CBC85F); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#E9E98F, #CBC85F, #CBC85F); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#E9E98F, #CBC85F, #CBC85F); /* Standard syntax (must be last) */
    border-bottom: 3px solid #862826;
    color: #862826;
    font-weight: bold;
    width: 33.33%;
    height: 40px;
    text-align: center;
    font-size: small;
}

.FooterTabClass {
    background: -webkit-radial-gradient(#C0635E, #862826, #862826); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#C0635E, #862826, #862826); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#C0635E, #862826, #862826); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#C0635E, #862826, #862826); /* Standard syntax (must be last) */
    color: white;
    width: 33.33%;
    height: 50px;
    text-align: center;
    font-size: small;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-shadow: none !important;
}

.FooterActiveTabClass {
    background: -webkit-radial-gradient(#E9E98F, #CBC85F, #CBC85F); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#E9E98F, #CBC85F, #CBC85F); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#E9E98F, #CBC85F, #CBC85F); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#E9E98F, #CBC85F, #CBC85F); /* Standard syntax (must be last) */
    border-top: 3px solid #862826;
    color: #862826;
    font-weight: bold;
    width: 33.33%;
    height: 47px;
    text-align: center;
    font-size: small;
    text-shadow: none !important;
}

.UpdateEmployerContentClass {
    display: none;
}

::-webkit-scrollbar {
    /* This is the magic bit */
    display: none;
}

.AboutGPSSATabs {
    text-shadow: none !important;
}

div.browse-wrap {
    top: 0;
    left: 0;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    position: relative;
    width: 100%;
    float: left;
}



input.upload {
    right: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    cursor: inherit;
    position: absolute;
    font-size: 1000px !important;
}

span.upload-path {
    text-align: center;
    display: block;
    color: black;
    font-weight: normal;
    font-family: tahoma, arial, sans-serif;
    float: right;
}

#RequireDoc .Upload-wrap {
    top: 0;
    left: 0;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    position: relative;
    width: 50%;
}

.ForgetPassword, .ChangePassword {
    display: none;
}
